<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">



    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:enableOnBackInvokedCallback="true"
        android:theme="@style/AppTheme"
        android:supportsRtl="true">

        <activity
            android:name=".presentacion.actividades.CalendarioActivity"
            android:label="Calendario"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".presentacion.actividades.ConfiguracionActivity"
            android:label="Preferencias"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".presentacion.actividades.ManualActivity"
            android:label="Manual de usuario"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".presentacion.actividades.SplashActivity"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.NoActionBar"
        android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentacion.actividades.CuadernoActivity"
            android:label="Cuaderno de comunicación"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".presentacion.actividades.PlanActivity"
            android:label="Planificación"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".presentacion.actividades.CrearPlanActivity"
            android:label="Crear planificación"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".presentacion.actividades.MainActivity"
            android:screenOrientation="fullSensor"
            android:label=""
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".presentacion.actividades.MenuActivity"
            android:label="Menu"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".presentacion.actividades.PreLoginActivity"
            android:label="Inicio"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".presentacion.actividades.RegisterActivity"
            android:label=""
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".presentacion.actividades.MenuAvataresPlanActivity"
            android:label="Elige avatar planificador"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".presentacion.actividades.MenuObjetosActivity"
            android:label="Elige avatar planificador"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".presentacion.actividades.MenuAvataresTEActivity"
            android:label="Elige avatar planificador"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".presentacion.actividades.ActividadActivity"
            android:label="Actividades"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".presentacion.actividades.TutorialActivity"
            android:label="Tutorial"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".presentacion.actividades.CreditsActivity"
            android:screenOrientation="fullSensor"
            android:label="Acerca de la aplicacion"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".presentacion.actividades.TraductorActivity"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustPan" />
        <receiver android:name=".dominio.onAlarmReceiver" />
    </application>


</manifest>